<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <td><a href="/list?dir={{ parent }}">..</a></td>
    </tr>
    {% if items %}
        {% for item in items %}
            {% if item.is_directory %}
    <tr>
        <td><a href="/list?dir={{item.id}}">{{ item.name }}</a></td>
    </tr>
            {% endif %}
        {% endfor %}
    {% for item in items %}
            {% if not item.is_directory %}
    <tr>
        <td><a href="/download/?dir={{item.id}}">{{ item.name }}</a></td>
    </tr>
            {% endif %}
    {% endfor %}
    {% endif %}
</table>



<form name="create-directory-form" method="post">
    <table>
        <tr>
            <th>directory : </th>
            <input type="text" hidden="hidden" name="parent" value="{{ id }}">
            <td>{% csrf_token %} <input type="text" name="dir_name"> {% csrf_token %} <input type="submit" value="폴더 생성"></td>
        </tr>
     </table>
</form>

<form method="post" enctype="multipart/form-data">
    File:
    {% csrf_token %}<input type="text" hidden="hidden" name="parent" value="{{ id }}">
    {% csrf_token %}<input type="file" name="filedata"/>
    {% csrf_token %}<input type="submit" value="UPLOAD" />
</form>

{% if error %}
{{ error }}
{% endif %}
<a href="/logout/">로그아웃</a>
<div id="app">
    <div v-on:click="loadDir({{ parent }}, '', $event)"><a href="#">..</a></div>
    <div  v-for="file in files" v-on:click="loadDir(file.id, $event)"><a v-if="file.is_directory" href="#">[[ file.name ]]</a></div>
    <div  v-for="file in files"><a v-if="file.is_directory==false" v-bind:href="'/download/?dir='+file.id">[[ file.name ]]</a></div>
</div>


<div id="container">
	<div>
		<div class="upload" v-for="(upload, index) in uploads" :key="index">
			<div class="ext" :style="{'background-color': upload.color}">
				<p>[[upload.ext.toUpperCase()]]</p>
			</div>
			<div class="upload-details">
				<div class="name-container">
					<p class="filename">[[upload.name]]</p>
					<div>
						<p class="filesize">[[upload.size]]</p>
						<p @click="removeUpload(index)" class="cancel-btn" v-if="upload.progress !== '100%'">x</p>
					</div>
				</div>
				<div class="upload-bar" v-if="upload.progress !== '100%'">
					<div class="upload-progress" :style="{width: upload.progress}"></div>
				</div>
			</div>
		</div>
	</div>
	<div @click="openFilePicker" id="uploader">
		<p><span>Click</span> to choose a file to upload :)</p>
		<input type="file" ref="filepicker" @change="uploadFile" />
	</div>
</div>


</body>
</html>


<style>

</style>


<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript">

async function loadDir(id, event){
    this.files = [];
    if(id==undefined)
        id='';

     token = '{{ request.session.token }}'
    var data =  await $.ajax({
                    url:'/api/files/listfolder/?dir='+id,
                    method: 'GET',
                    dataType: 'json',
                    beforeSend: function(xhr){
                        xhr.setRequestHeader("Authorization","Bearer "+token);
                    }
                    });
    this.files=data.items
}

var app = new Vue({
    el: '#app',
    delimiters: ['[[',']]'],
    data : {
        message: '안녕하세요 Vue!',
        files: [],
        location: [],
    },
    mounted: loadDir,
    methods: {
        loadDir: loadDir
    }
});

new Vue({
	el: "#container",
	delimiters: ['[[',']]'],
	data: {
		uploads: [],
		colors: ["#24bddf", "#5fcc9c", "#6a65d8"]
	},
	methods: {
		getRandomColor() {
			const randomIndex = Math.floor(Math.random() * 2);
			return this.colors[randomIndex];
		},
		removeUpload(index) {
			clearInterval(this.uploads[index].progressTimer);
			this.uploads.splice(index, 1);
		},
		openFilePicker() {
			this.$refs.filepicker.click();
		},
		uploadFile() {
			const input = this.$refs.filepicker;
			const file = input.files[0];

			const upload = {
				id: this.uploads.length + 1,
				name: file.name,
				size: this.getFileSize(file.size),
				progress: "0%",
				ext: file.name.substring(file.name.lastIndexOf(".") + 1, file.name.length),
				progressTimer: null,
				color: this.getRandomColor()
			};

			this.uploads.push(upload);
			const timer = setInterval(this.updateProgress, 300, upload.id);
			upload.progressTimer = timer;
		},
		getFileSize(size) {
			if (size < 1000000) return `${Math.ceil(size / 1024)} kb`;
			else if (size >= 1000000) return `${Math.ceil(size / 1024000)} mb`;
		},
		updateProgress(id) {
			const index = id - 1;
			const progress = Number.parseInt(
				this.uploads[index].progress.replace("%", "")
			);

			this.$set(this.uploads[index], "progress", `${progress + 10}%`);
			if (progress + 10 === 100) clearInterval(this.uploads[index].progressTimer);
		}
	}
});

</script>