{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <title> KHUSB </title>
    <link rel="stylesheet" href="//unpkg.com/bootstrap@4/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/snackbar.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css"/>

    <script src='//unpkg.com/jquery@3/dist/jquery.min.js'></script>
    <script src='//unpkg.com/popper.js@1/dist/umd/popper.min.js'></script>
    <script src='//unpkg.com/bootstrap@4/dist/js/bootstrap.min.js'></script>
    <script src="{% static 'js/snackbar.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

</head>
<body oncontextmenu='return false' onselectstart='return false' ondragstart='return false'>
<input type="hidden" id="path" name="path" value="{{ path }}">
<div class="main_page">
    <nav>
        <div class="nav">
            <profile_pic>
                <div class="prof_pic">
                    <img src="{% static 'css/main_image/dalgomi.png' %}">
                </div>
            </profile_pic>
            <id>
                <div class = "uname1">
                    <a>{{ username }}</a>
                </div>
                <div class = "uname2">
                    <a href="/logout/" class="font">로그아웃</a>
                </div>
            </id>
            <directory>
                <ul>
                    <li><a href="/list/" id="listfilebtn">내 파일</a></li>
                    <li><a href="/listdoshare/" id="sharedlist">공유한 파일</a></li>
                    <li><a href="/listshare/" id="sharedlist">공유 받은 파일</a></li>
                    <li><a style="cursor: pointer;"  id="stars">즐겨찾기</a></li>
                    <li><a style="cursor: pointer;" id="recent">최근 수정한 파일</a></li>
                    <li><a style="cursor: pointer;"  id="added">최근 추가한 파일</a></li>
                </ul>
            </directory>

            <rocket>
                <div id="rocket">
                    <img class = "origin_rocket" src="{% static 'css/main_image/rocket1.png' %}" style="width:55%; height:55%; ">
                    <img class = "over_rocket" src="{% static 'css/main_image/rocket2.png' %}" style="width:55%; clip:rect(calc(({{available_size}} - {{used_size}}) / {{ available_size }} * 137.5 * 1px) 137.5px 137.5px 0px)">

                </div>
                <div>
                  <p class = "size"></p>
                </div>
            </rocket>



        </div>
    </nav>
    <header>
        <div class="header">
            <logo>
                <a href = "/list"><p>KHUSB</p></a>
            </logo>
            <search>
                <input type="text" name="search" id="search" placeholder="Search..">
            </search>
            <space></space>
            <load>
                <ul class="folder_menu">
                    <li><a id="#uploadModal" class="upload" data-toggle="modal" data-target="#uploadModal">업로드</a></li>
                    <li><a id="#createDirectoryModal" class="createfolder" data-toggle="modal" data-target="#createDirectoryModal">폴더생성</a></li>
                    <li><a id="removeItem" class="delete" hidden>삭제</a></li>
                    <li><a id="#shareModal" class="share" data-toggle="modal" data-target="#shareModal" hidden>공유</a></li>
                    <li><a id="#moveModal" class="move" data-toggle="modal" data-target="#moveModal" hidden>이동</a></li>
                    <li><a id="#copyModal" class="copy" data-toggle="modal" data-target="#copyModal" hidden>복사</a></li>
                    <li><a id="removeShare" class="removeshare" hidden>공유삭제</a></li>

                </ul>
            </load>
        </div>
    </header>

    {% block content %}


    {% endblock %}
    <footer>
        <p>Cloud Computing KHUSB team<br>
            Contact information: hyunjin.gmail.com, woojin.gmail.com, yerin.gmail.com, myungho.gmail.com</p>
    </footer>
</div>

<div id="uploadModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="uploadModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Upload file</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="uploaditems">
                    <table class="table" id="uploadeditem">

                    </table>
                </div>
                <input type="file" id="uploadInput" multiple style="margin-left: 3%;">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="uploadBtn">Upload</button>
                <button type="button" class="btn btn-primary" id="abortBtn" hidden>Abort</button>
            </div>
        </div>
    </div>
</div>
<div id="createDirectoryModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createDirectoryModal"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create Directory</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="text" name="directoryName" id="directoryName">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="createBtn">Create</button>
            </div>
        </div>
    </div>
</div>
<div id="deleteModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">삭제하시겠습니까?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="deleteitems">
                    <table class="table" id="deleteditem">

                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="deleteBtn">Delete</button>
            </div>
        </div>
    </div>
</div>

<div id="shareModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="shareModal"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Share</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="shareresult">

                </div>
                <h6>EMAIL:</h6>
                <input type="text" name="email" id="emailInput">
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="shareBtn">Share</button>
            </div>
        </div>
    </div>
</div>

<div id="removeshareModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="removeshareModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">공유를 삭제하시겠습니까?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="removeshareItems">
                    <table class="table" id="removeshareItem">

                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="removeShareBtn">Delete</button>
            </div>
        </div>
    </div>
</div>

<div id="moveModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="moveModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="move">
                    <table class="table" id="moveitems">
                        <tr>
                            <th id="movePath">
                            /HOME/
                            </th>
                        </tr>
                        <tbody id="movefiles">

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="moveBtn">Move</button>
            </div>
        </div>
    </div>
</div>

<div id="copyModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="copyModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="copy">
                    <table class="table" id="copyitems">
                        <tr>
                            <th id="copyPath">
                            /HOME/
                            </th>
                        </tr>
                        <tbody id="copyfiles">

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="copyBtn">Copy</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>
