{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'css/register.css' %}">
    </head>
    <body>
        <div class="white_box">
            <logo>
                &nbsp;&nbsp;<a href="/">KHUSB</a>
            </logo>
            <white_box>
                <p>"비밀번호 변경"</p>
                <form method="post" enctype="multipart/form-data">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;비밀번호{% csrf_token %}{% csrf_token %}<input type="text" name="password">
                    <br>
                        비밀번호 확인{% csrf_token %}{% csrf_token %}<input type="text" name="password_conf">
                    <br>
                    {% csrf_token %}<input type="submit" value="변경">
                </form>
                <div id="message" style="color: red;">
                    {{ data }}
                </div>
            </white_box>
            <footer>
            </footer>
        </div>
    </body>
</html>
