{% extends 'client/base.html' %}
{% load staticfiles %}

{% block content %}
<path>
    <p>/HOME{{ path }}</p>
</path>

<main>
    <ul class="contextmenu">
      <li><a id="downloadItem" class="download" hidden>다운로드</a></li>
      <li><a id="#uploadModal" data-toggle="modal" data-target="#uploadModal">업로드</a></li>
      <li><a id="#createDirectoryModal" data-toggle="modal" data-target="#createDirectoryModal">폴더생성</a></li>
      <li><a id="removeItem" class="delete" hidden>삭제</a></li>
    </ul>

    <table class="table" id="Table">

        <tr>
            <th><input type="checkbox" id="allCheck"/></th>
            <th>파일명&nbsp;<img class="sort-icon" src="{% static 'css/main_image/sort.png' %}" onclick="sortTable(0)">
            </th>
            <th>수정한 시간&nbsp;<img class="sort-icon" src="{% static 'css/main_image/sort.png' %}"
                                 onclick="sortTable(1)"></th>
            <th>파일 유형&nbsp;<img class="sort-icon" src="{% static 'css/main_image/sort.png' %}"/></th>
            <th>중요&nbsp;<img class="sort-icon" src="{% static 'css/main_image/sort.png' %}" onclick="sortTable(2)">
            </th>
        </tr>
        {% if path != '/' %}
            <tr class="hover">
                <td></td>
                <td style="text-align: left;"><a class="file" href="/list{{ parent }}" >..</a></td>
                <td>{{ item.modified }}</td>
                <td>folder</td>
                <td id="star" style="cursor:default">★</td>
            </tr>
        {% endif %}
        {% for item in items %}
            {% if item.is_directory %}
                <tr class="hover">
                    <td><input type="checkbox" class="check" hidden="false"/></td>
                    <td style="text-align: left;"><a class="file" href="/list{{ item.path }}">{{ item.name }}/</a></td>
                    <td>{{ item.modified }}</td>
                    <td>folder</td>
                    <td id="star" style="cursor:default">★</td>
                </tr>
            {% endif %}
        {% endfor %}
        {% for item in items %}
            {% if not item.is_directory %}
                <tr class="hover">
                    <td><input type="checkbox" class="check" hidden="false"/></td>
                    <td style="text-align: left;"><a class="file" href="/download{{ item.path }}">{{ item.name }}</a></td>
                    <td>{{ item.modified }}</td>
                    <td>file</td>
                    <td id="star" style="cursor:default">★</td>
                </tr>
            {% endif %}
        {% endfor %}

    <tbody id="items">
    </tbody>
    </table>

</main>
{% endblock %}

