{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
            
    </head>
    <body>
        <div class = "main_page">
            <nav>
                <div class = "nav">
                    <profile_pic>
                        <div class="prof_pic">
                            <img src="{% static 'css/main_image/dalgomi.png' %}">
                        </div>
                    </profile_pic>
                    <id>
                        <p>
                            user_id
                            &nbsp;&nbsp;
                            <a href="#settings"><img src="{% static 'css/main_image/config.png' %}" style="width:20px;height:20px"></a>
                        </p>
                    </id>
                    
                    <load>
                        <div id="load">
                            <a href="#upload"><img src="{% static 'css/main_image/upload.png' %}" style="width:30px;height:30px;display:block;margin-left:auto;margin-right:auto;padding-top:5px"></a>
                        </div>
                        <div id="load">
                            <a href="#download"><img src="{% static 'css/main_image/download.png' %}" style="width:30px;height:30px;display:block;margin-left:auto;margin-right:auto;padding-top:5px"></a>
                        </div>
                    </load>
                    
                    <directory>
                        <ul>
                            <li><a href="#stars">즐겨찾기</a></li>
                            <li><a href="#recent">최근 수정한 파일</a></li>
                            <li><a href="#added">최근 추가한 파일</a></li>
                        </ul>
                    </directory>
                    
                    <rocket>
                        <div id="rocket">
                            <img src="{% static 'css/main_image/rocket.png'}" style="width:50px;height:50px">
                        </div>
                    </rocket>
                </div>
            </nav>
            <header>
                <div class="header">
                    <logo>
                        <p>KHUSB</p>
                    </logo>
                    <search>
                        <form>
                            <input type="text" name="search" placeholder="Search..">
                        </form>
                    </search>
                    <space></space>
                    <d_day>
                    </d_day>
                </div>
            </header>
            <path>
                <p>/HOME{{ path }}</p>
            </path>
            <main>
                <table class="table" id="Table">
                    <tr>
                        <th>파일명&nbsp;<img class="sort-icon" src="{% static 'css/main_image/sort.png' %}" onclick="sortTable(0)"></th>
                        <th>수정한 시간&nbsp;<img class="sort-icon" src="{% static 'css/main_image/sort.png' %}" onclick="sortTable(1)"></th>
                        <th>파일 유형&nbsp;<img class="sort-icon" src="{% static 'css/main_image/sort.png' %}"/></th>
                        <th>중요&nbsp;<img class="sort-icon" src="{% static 'css/main_image/sort.png' %}"  onclick="sortTable(2)"></th>
                    </tr>
                    {% for item in items %}
                    {% if item.is_directory %}
                    <tr class="hover">
                        <td><a class="folder" href="/list{{item.path}}">{{ item.name }}/</a></td>
                        <td>{{ item.modified }}</td>
                        <td>folder</td>
                        <td>★</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                    {% for item in items %}
                    {% if not item.is_directory %}
                    <tr class="hover">
                        <td><a class="file" href="/download{{item.path}}">{{ item.name }}</a></td>
                        <td>{{ item.modified }}</td>
                        <td>file</td>
                        <td>☆</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                    
                </table>
              <form name="create-directory-form" method="post">
                <table>
                    <tr>
                        <th>directory : </th>
                        <td>{% csrf_token %} <input type="text" name="name"> {% csrf_token %} <input type="submit" value="폴더 생성"></td>
                    </tr>
                 </table>
            </form>
            <form method="post" enctype="multipart/form-data">
                File:
                {% csrf_token %}<input type="text" hidden="hidden" name="path" value="{{ path }}">
                {% csrf_token %}<input type="file" name="filedata"/>
                {% csrf_token %}<input type="submit" value="UPLOAD" />
            </form>
            <a href="/logout/">로그아웃</a>
            </main>
            <footer>
                <p>Cloud Computing KHUSB team<br>
                    Contact information: hyunjin.gmail.com, woojin.gmail.com, yerin.gmail.com, myungho.gmail.com</p>
            </footer>
        </div>
        
        <script>
			function sortTable(n) {
				var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
				table = document.getElementById("Table");
				switching = true;
				dir = "asc"; 
				while (switching) {
					switching = false;
					rows = table.rows;
					for (i = 1; i < (rows.length - 1); i++) {
						shouldSwitch = false;
						x = rows[i].getElementsByTagName("TD")[n];
						y = rows[i + 1].getElementsByTagName("TD")[n];
						if (dir == "asc") {
							if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
								shouldSwitch= true;
								break;
							}
						} else if (dir == "desc") {
							if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
								shouldSwitch = true;
								break;
							}
						}
					}
					if (shouldSwitch) {
						rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
						switching = true;
						switchcount ++;
					} else {
						if (switchcount == 0 && dir == "asc") {
							dir = "desc";
							switching = true;
						}
					}
				}
			}
		</script>
        
    </body>
</html>
