
<!doctype html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
 
  <title>회원 가입</title>
 </head>
 <body>
 <form name="write_form_member" method="post">
   <table width="940" style="padding:5px 0 5px 0; ">
      <tr height="2" bgcolor="#FFC8C3"><td colspan="2"></td></tr>
      <tr>
         <th> 이름</th>
         <td>{% csrf_token %} <input type="text" name="mbname"></td>
      </tr>
      
       </tr>
       <tr>
         <th>아이디</th>
         <td>
             {% csrf_token %}
         <input type="text" name="cursor:pointer">
         <a href='#' style='cursor:help'></a>
         </td>
       </tr>
       <tr>
         <th>비밀번호</th>
         <td>{% csrf_token %} <input type="password" name="mbpw"> </td>
       </tr>
        <tr>
          <th>이메일</th>
          <td>
            {% csrf_token %} <input type='text' name="email">@
            {% csrf_token %} <input type='text' name="email_dns">
    
            </td>
         </tr>
         
           <tr>
             <td colspan="2" align="center">
               {% csrf_token %} <input type="submit" value="회원가입">
               {% csrf_token %} <input type="reset" value="돌아가기">
            </td>
           </tr>
           </table>
          </td>
          </tr>
          </form>
            {% if data %}
            {{ data }}
            {% endif %}
 </body>
</html>
