{% extends 'client/base.html' %}
{% load staticfiles %}

{% block content %}
<path>
    <p>/HOME{{ path }}</p>
</path>

<main>
    <ul class="contextmenu">
        <li><a id="#uploadModal" class="upload" data-toggle="modal" data-target="#uploadModal">업로드</a></li>
        <li><a id="#createDirectoryModal" class="createfolder" data-toggle="modal" data-target="#createDirectoryModal">폴더생성</a></li>
        <li><a id="removeItem" class="delete" hidden>삭제</a></li>
        <li><a id="#shareModal" class="share" data-toggle="modal" data-target="#shareModal" hidden>공유</a></li>
    </ul>

    <table class="table" id="Table">

        <tr>
            <th><input type="checkbox" id="allCheck"/></th>
            <th>파일명&nbsp;<img class="sort-icon" src="{% static 'css/main_image/sort.png' %}" onclick="sortTable(0)">
            </th>
            <th>수정한 시간&nbsp;<img class="sort-icon" src="{% static 'css/main_image/sort.png' %}"
                                 onclick="sortTable(1)"></th>
            <th>파일 유형&nbsp;<img class="sort-icon" src="{% static 'css/main_image/sort.png' %}"/></th>
            <th>공유자&nbsp;<img class="sort-icon" src="{% static 'css/main_image/sort.png' %}" onclick="sortTable(2)">
            </th>
        </tr>
        <tbody id="items">
        </tbody>


    </table>

</main>
    <script>
    var token = document.getElementById("token").value
    currentDirId = document.getElementById("path").value
    $.ajaxSetup({
        headers: {
            'Authorization': 'Bearer ' + token
        }
    });
     view_share = true;
    list_share();
    $(".upload").attr("hidden",true);
    $(".createfolder").attr("hidden",true);

</script>
{% endblock %}