@font-face {
  font-family: 'DXStar';
  src: url("main_image/DXSnUB-KSCpc-EUC-H.ttf") format('truetype');
}

@font-face {
  font-family: 'KoPubDotum';
  src: url("main_image/KoPubDotumBold.ttf") format('truetype');
}

@font-face {
  font-family: 'UhBeeKeongKeong';
  src: url("main_image/UhBee KeongKeong Bold.ttf") format('truetype');
}

body {
  background-image: url("login/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a {
  text-decoration: none;
}

.white_box {
  display: grid;
  top:50%; left:50%;
  position:absolute;
  transform:translate(-50%, -50%);
  width: 540px;
  height: 490px;
  grid-template-areas: "logo"
                       "white_box"
                       "Oauth";
  grid-template-rows: 30px 1fr 50px;
}

.white_box > logo {
  grid-area: logo;
  font-family: UhBeeKeongKeong;
  font-size: 25px;
  color: white;
}

.white_box > white_box {
  grid-area: white_box;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  font-family: DXStar;
  margin: 10px;
}

input[type=submit] {
  position: relative;
  left: 120px;
  width: 100px;
  background-color: black;
  color: white;
  font-family: DXStar;
  font-size: 20px;
  margin: 10px;
  border-radius: 10px;
}

input[type=submit]:hover {
  background-color: white;
  color: black;
}

input[type=text], [type=password] {
  position: relative;
  left: 10px;
  font-family: DXStar;
  width: 250px;
  font-size: 15px;
  margin: 10px;
}

input[type=text]:focus, [type=password]:focus {
  border: 3px solid #555;
}

p {
  position: relative;
  left: 80px;
  margin: 3px;
}

button {
  position: relative;
  left: 365px;
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
}

button:hover {
  background-color: black;
  color: white;
}
